---
import BetaLayout from "../../layouts/beta/BetaLayout.astro";
import teachers from "../../../public/teachers.json";
const catchphrases = await Astro.glob("../../../public/catchphrases/*.json");

const cpp = {};

Object.keys(teachers).forEach(t => {
    cpp[t] = 0;
})

catchphrases.forEach(phrases => {
    Object.keys(phrases).forEach(id => {
        cpp[id] += phrases[id].length;
    })
});

let sortable = [];
for (var vehicle in cpp) {
    sortable.push([vehicle, cpp[vehicle]]);
}

sortable.sort(function(a, b) {
    return b[1] - a[1];
});

sortable.pop();

const series = sortable.map(s => s[1]);

let catchCount = 0;

series.forEach(s => {
    catchCount += s;
});

const cpy = [];

let i = 0;
catchphrases.forEach(phrases => {
    cpy.push(0);
    
    Object.values(phrases).forEach(v => {
        if (v != undefined && v.length != undefined)
            cpy[i] += v.length;
    })

    i++;
});

const pages = await fetch(Astro.url.protocol + "//" + Astro.url.host + "/api/analytics/all").then(a => a.json());
---

<BetaLayout title="[BETA] Statistiky" description="Statistiky o hl치코k치ch u캜itel콢 a dal코칤...">
    <div class="body">
        <div id="zakladni">
            <h2>Nejupov칤dan캩j코칤 profesor</h2>
            <h3>{teachers[sortable[0][0]]}</h3>
            <h2>Po캜et zapsan칳ch hl치코ek</h2>
            <h3>{catchCount}</h3>
            <h2>Po캜et evidovan칳ch u캜itel콢</h2>
            <h3>{Object.keys(teachers).length}</h3>
            <h2>Informace o sekci</h2>
            V칤tejte na t칠to str치nce. Zde se m콢쬰te dozv캩d캩t statistiky ohledn캩 hl치코ek. P콏ibudou je코t캩 statistiky ohledn캩 z치pis콢 do kroniky a dal코칤... Mo쬹치 tu uvid칤te grafy 游.
        </div>
        <div id="hlaskynaucitele">
            <h2>Hl치코ky na u캜itele</h2>
            <ol>
                {sortable.map((arr) => <li>{teachers[arr[0]] + ": " + arr[1]}</li>)}
            </ol>
        </div>
        <div id="hlaskynarocnik">
            <h2>Hl치코ky na ro캜n칤k</h2>
            <ol>
                {cpy.map((val) => <li class="yearlyc">{val}</li>)}
            </ol>
        </div>
        <div id="ucitele">
            <h2>Evidovan칤 u캜itel칠</h2>
            <ol>
                {Object.keys(teachers).map((k) => <a href={"/beta/summary/" + k}><li>{teachers[k]}</li></a>)}
            </ol>
        </div>
        <div id="pages">
            <h2>Nav코t캩vovanost str치nek</h2>
            <ol>
                {pages.map((page) => <li>{page.page + " " + page.visits + " n치v코t캩v (n치v코t캩vn칤k콢: " + page.visitors.length + ")"}</li>)}
            </ol>
        </div>
    </div>
</BetaLayout>

<style>
    .body {
        display: flex;
        flex-wrap: wrap;
    }

    .body > div {
        flex: 1 0 21%;
        padding: 1em;
    }

    .yearlyc::before {
        content: " G: ";
    }
</style>
