---
import Layout from "../../layouts/Layout.astro";
import teachers from "../../../public/teachers.json";
import BarGraph from "../../components/BarGraph.astro";
import {getPhrases} from "../../utils";
const catchphrases = await getPhrases(0);

const catchphrasesPerTeacher = {};

Object.keys(teachers).forEach(teacherID => {
    let phrases = catchphrases[teacherID];
    catchphrasesPerTeacher[teacherID] = phrases.length;
});

let sortable = [];
for (var vehicle in catchphrasesPerTeacher) {
    // @ts-ignore
    sortable.push([vehicle, catchphrasesPerTeacher[vehicle]]);
}

sortable.sort(function(a, b) {
    return b[1] - a[1];
});

sortable.pop();

const series = sortable.map(s => s[1]);

let catchCount = 0;

series.forEach(s => {
    catchCount += s;
});

const catchphrasesPerYear = [];

for (let i = 1; i < 8; i++) {
    let phrases = await getPhrases(i);
    let count = 0;
    Object.entries(phrases).forEach(([_, phrases]) => {
        // @ts-ignore
        count += phrases.length;
    })
    catchphrasesPerYear[i-1] = count;
}

const pages = await fetch(Astro.url.protocol + "//" + Astro.url.host + "/api/analytics/all").then(a => a.json());
---

<Layout title="Statistiky" description="Otev콏en칠 statistiky na코칤 kroniky a n치v코t캩vnosti str치nek">
    <div class="body">
        <div id="zakladni">
            <h2>Nejupov칤dan캩j코칤 profesor</h2>
            <h3>{teachers[sortable[0][0]]}</h3>
            <h2>Po캜et zapsan칳ch hl치코ek</h2>
            <h3>{catchCount}</h3>
            <h2>Po캜et evidovan칳ch u캜itel콢</h2>
            <h3>{Object.keys(teachers).length}</h3>
            <h2>Informace o sekci</h2>
            V칤tejte na t칠to str치nce. Zde se m콢쬰te dozv캩d캩t statistiky ohledn캩 hl치코ek. P콏ibudou je코t캩 statistiky ohledn캩 z치pis콢 do kroniky a dal코칤... Mo쬹치 tu uvid칤te grafy 游.
        </div>
        <div id="hlaskynaucitele">
            <h2>Hl치코ky na u캜itele</h2>
            <ol>
                {sortable.map((arr) => <li>{teachers[arr[0]] + ": " + arr[1]}</li>)}
            </ol>
        </div>
        <div id="hlaskynarocnik">
            <h2>Hl치코ky na ro캜n칤k</h2>
            <BarGraph columns={catchphrasesPerYear.map((val, i) => ({title: (i + 1) + ". G", data: val}))} height={200} color="hotpink" showValues={true} />
        </div>
        <div id="ucitele">
            <h2>Evidovan칤 u캜itel칠</h2>
            <ol>
                {Object.keys(teachers).map((k) => <a href={"/kronika/summary/teacher/" + k}><li>{teachers[k]}</li></a>)}
            </ol>
        </div>
        <div id="pages">
            <h2>Nav코t캩vovanost str치nek</h2>
            <ol>
                {pages.map((page) => <li>{page.page + " " + page.visits + " n치v코t캩v (n치v코t캩vn칤k콢: " + page.visitors.length + ")"}</li>)}
            </ol>
        </div>
    </div>
</Layout>

<style>
    .body {
        display: flex;
        flex-wrap: wrap;
    }

    .body > div {
        flex: 1 0 21%;
        padding: 1em;
    }

    .yearlyc::before {
        content: " G: ";
    }
</style>
