---
import Layout from "../../layouts/Layout.astro";
import teachers from "../../../public/teachers.json";
import BarGraph from "../../components/BarGraph.astro";
import {getPhrases} from "../../utils";
const catchphrases = await getPhrases(0);
import {PageStatModel} from "../../db";

const catchphrasesPerTeacher = {};

Object.keys(teachers).forEach(teacherID => {
    let phrases = catchphrases[teacherID];
    catchphrasesPerTeacher[teacherID] = phrases.length;
});

let sortable = [];
for (var vehicle in catchphrasesPerTeacher) {
    // @ts-ignore
    sortable.push([vehicle, catchphrasesPerTeacher[vehicle]]);
}

sortable.sort(function(a, b) {
    return b[1] - a[1];
});

sortable.pop();

const series = sortable.map(s => s[1]);

let catchCount = 0;

series.forEach(s => {
    catchCount += s;
});

const catchphrasesPerYear = [];

for (let i = 1; i < 8; i++) {
    let phrases = await getPhrases(i);
    let count = 0;
    Object.entries(phrases).forEach(([_, phrases]) => {
        // @ts-ignore
        count += phrases.length;
    })
    catchphrasesPerYear[i-1] = count;
}

async function getPageStats() {
    let pages = await PageStatModel.find({}).exec();

    let sortable = [];
    pages.forEach(p => {
        sortable.push([p, p["visits"]]);
    });

    sortable.sort(function (a, b) {
        return b[1] - a[1];
    });

    return sortable.map(s => s[0]);
}

const pages = await getPageStats();
---

<Layout title="Statistiky" description="Otevřené statistiky naší kroniky a návštěvnosti stránek">
    <div class="body">
        <div id="zakladni">
            <h2>Nejupovídanější profesor</h2>
            <h3>{teachers[sortable[0][0]]}</h3>
            <h2>Počet zapsaných hlášek</h2>
            <h3>{catchCount}</h3>
            <h2>Počet evidovaných učitelů</h2>
            <h3>{Object.keys(teachers).length}</h3>
            <h2>Informace o sekci</h2>
            Vítejte na této stránce. Zde se můžete dozvědět statistiky ohledně hlášek. Přibudou ještě statistiky ohledně zápisů do kroniky a další... Možná tu uvidíte grafy 👀.
        </div>
        <div id="hlaskynaucitele">
            <h2>Hlášky na učitele</h2>
            <ol>
                {sortable.map((arr) => <li>{teachers[arr[0]] + ": " + arr[1]}</li>)}
            </ol>
        </div>
        <div id="hlaskynarocnik">
            <h2>Hlášky na ročník</h2>
            <BarGraph columns={catchphrasesPerYear.map((val, i) => ({title: (i + 1) + ". G", data: val}))} height={200} color="hotpink" showValues={true} />
        </div>
        <div id="ucitele">
            <h2>Evidovaní učitelé</h2>
            <ol>
                {Object.keys(teachers).map((k) => <a href={"/kronika/summary/teacher/" + k}><li>{teachers[k]}</li></a>)}
            </ol>
        </div>
        <div id="pages">
            <h2>Navštěvovanost stránek</h2>
            <ol>
                {pages.map((page) => <li>{page.page + " " + page.visits + " návštěv (návštěvníků: " + page.visitors.length + ")"}</li>)}
            </ol>
        </div>
    </div>
</Layout>

<style>
    .body {
        display: flex;
        flex-wrap: wrap;
    }

    .body > div {
        flex: 1 0 21%;
        padding: 1em;
    }

    .yearlyc::before {
        content: " G: ";
    }
</style>
