---
import Memories from "../../layouts/Memories.astro";
import teachers from "../../../public/teachers.json";

const openBy = new Date("2025-12-19T09:00:00Z");
if (new Date() < openBy) {
    return Astro.redirect("/vote");
}

let all = import.meta.glob("../../../public/catchphrases/*.json");

function quoteFix(input) {
    let n = 0;
    return input.replace(/"/g, (m, i, og) => {
        return n++ % 2 ? "“" : "„";
    });
}

let phrasesByTeacher = {};
let numOfQuotes = 0;
for (let byYear of Object.values(all)) {
    const json = await byYear();

    for (let [teacher, phrases] of Object.entries(json)) {
        if (teacher === "default") continue;
        if (!phrasesByTeacher[teacher]) phrasesByTeacher[teacher] = new Set();
        Object.values(phrases).forEach(p => phrasesByTeacher[teacher].add(quoteFix(p + "")));
        numOfQuotes += phrases.length;
    }
}
---
<Memories title="Nominace na nejlepší hlášku" description="Nominujte svou oblíbenou hlášku do velkého hlasování">
    <div class="body">
        <h1>První kolo - nominace</h1>
        <a href="/vote">Zpět do kroniky</a>
        <p>V tomto kole můžete nominovat své oblíbené hlášky. 10 hlášek (případně víc) s nejvíce nominacemi se pak utkají v souboji ve finále.</p>
        <h2>Jak nominovat hlášku</h2>
        <ol>
            <li>Vyberte až 20 hlášek, které chcete nominovat tím, že je označíte hvězdičkou. Chcete vyhledat nějakou konkrétní hlášku? Klikněte ve svém prohlížeči na tři tečky a vyberte vyhledat na stránce.</li>
            <li>Vyplňte formulář.</li>
            <li>Odešlete svůj návrh kliknutím na tlačítko "Nominovat".</li>
        </ol>
        <div class="phrases-list">
            <h3>Dostupné hlášky ({numOfQuotes}):</h3>
            <p>Hlášky můžete zamíchat, aby bylo vaše hlasování méně biased</p>
            <button id="shuffle">Zamíchat všechny hlášky a odstranit jména</button>
            <ul id="available-phrases">
                {
                    Object.entries(phrasesByTeacher).map(([teacher, phrases]) => (
                        <li>
                            <h4>{teachers[teacher]}</h4>
                            <ul>
                                {
                                    Array.from(phrases).map(phrase => (
                                        <li class="phrase-item">
                                            <label>
                                                <span class="phrase-text">{phrase}</span>
                                                <button class="select-phrase" data-phrase={phrase} role="checkbox" aria-checked="false" data-teacher={teacher}>★</button>
                                            </label>
                                        </li>
                                    ))
                                }
                            </ul>
                        </li>
                    ))
                }
            </ul>

        </div>
        <div id="nomination-form">
            <form action="/api/vote/nominate" method="POST">
                <h3>Vybrané hlášky:</h3>
                <ul id="selected-phrases">
                    <!-- Selected phrases will appear here -->
                </ul>
                <h3>Vaše jméno:</h3>
                <input type="text" name="name" required />
                <h3>Ještě jedna věc</h3>
                <label>
                    <input type="checkbox" name="agree" required /> Hlasoval jsem podle sebe, za sebe, beru na vědomí, že hlasování není anonymní a kronikáři tak uvidí mé jméno spolu s nominovanými hláškami.
                </label>
                <h3>
                    <button type="submit" class="button large">Nominovat</button>
                </h3>
            </form>
    </div>
    </div>

        <div class="scroll-to-form">
            <a href="#nomination-form" class="button large">Přejít k formuláři</a>
        </div>

    <div class="selected-count">
        <span id="selected-count">0</span> / 20
    </div>
</Memories>

<style is:global>
    .body {
        margin: 20px;
    }

    .scroll-to-form {
        text-align: center;
        position: fixed;
        bottom: 20px;
        right: 20px;
        background: dodgerblue;
        padding: 10px 15px;
        border-radius: 5px;

        a {
            color: white;
            text-decoration: none;
            font-weight: bold;
        }
    }

    [role="checkbox"] {
        cursor: pointer;
        background: none;
        border: none;
        font-size: 1.5em;
    }

    [aria-checked="true"] {
        color: gold;
    }

    h4 {
        margin-bottom: 0.5em;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }

    .selected-count {
        position: fixed;
        top: 20px;
        right: 20px;
        background: gold;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
    }

    .phrase-item label {
        display: flex;
        justify-content: space-between;
    }

    #nomination-form {
        margin-top: 2em;
        margin-bottom: 20em;
    }

    #selected-phrases {
        margin-bottom: 1em;

        li {
            margin-bottom: 0.5em;
            border-left: 2px solid gold;
            padding-left: 0.5em;
        }
    }

    button[type="submit"] {
        background-color: greenyellow;
        color: black;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 1em;
        cursor: pointer;
    }
</style>

<script>
    // client-side if you click select-phrase button, it toggles selection and adds/removes from selected-phrases list
    document.addEventListener("DOMContentLoaded", () => {
        const availablePhrases = document.getElementById("available-phrases");
        const selectedPhrases = document.getElementById("selected-phrases");
        const selectedCountDisplay = document.getElementById("selected-count");

        const shuffle = document.getElementById("shuffle");

        availablePhrases.addEventListener("click", (event) => {
            if (event.target.classList.contains("select-phrase")) {
                                const button = event.target;
                const phrase = button.getAttribute("data-phrase");
                const teacher = button.getAttribute("data-teacher");
                const isSelected = button.getAttribute("aria-checked") === "true";
                const selectedCount = selectedPhrases.querySelectorAll(".selected-phrase-item").length;


                if (isSelected) {
                    // Deselect
                    button.setAttribute("aria-checked", "false");
                    button.textContent = "★";
                    // Remove from selected list
                    const items = selectedPhrases.querySelectorAll(".selected-phrase-item");
                    items.forEach(item => {
                        if (item.getAttribute("data-phrase") === phrase) {
                            selectedPhrases.removeChild(item);
                        }
                    });

                    selectedCountDisplay.textContent = selectedCount - 1;
                } else {
                    // check how many are selected, if already 20, do nothing
                    if (selectedCount >= 20) {
                        alert("Můžete vybrat maximálně 20 hlášek.");
                        return;
                    }

                    selectedCountDisplay.textContent = selectedCount + 1;

                    // Select
                    button.setAttribute("aria-checked", "true");
                    button.textContent = "⭐";
                    // Add to selected list
                    const li = document.createElement("li");
                    li.className = "selected-phrase-item";
                    li.setAttribute("data-phrase", phrase);
                    li.textContent = `${phrase}`;

                    // add input type hidden with name phrases[] and value phrase
                    const hiddenInput = document.createElement("input");
                    hiddenInput.type = "hidden";
                    hiddenInput.name = "phrases[]";
                    hiddenInput.value = phrase;
                    li.appendChild(hiddenInput);

                    selectedPhrases.appendChild(li);
                }
            }
        });

        shuffle.addEventListener("click", () => {
            const phraseItems = Array.from(availablePhrases.querySelectorAll(".phrase-item"));
            for (let i = phraseItems.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [phraseItems[i], phraseItems[j]] = [phraseItems[j], phraseItems[i]];
            }
            availablePhrases.innerHTML = "";
            phraseItems.forEach(item => {
                item.style.marginBottom = "0.5em";
                availablePhrases.appendChild(item);
            });
        });
    });
</script>